/* Container principal */
.sobre-nos {
  padding: 20px 50px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  max-width: 800px;

  height: 800px;
  margin: 0 auto;
  border-radius: 12px;

  transition: all 0.3s ease-in-out;
}

/* Título */
.sobre-nos-titulo {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 40px;
  color: #2b2b2b;
  letter-spacing: 1px;
}

/* Parágrafos */
.sobre-nos-paragrafo {
  margin-bottom: 25px;
  line-height: 1.8;
  font-size: 1.1rem;
  color: #000000;
  text-align: justify;
  transition: all 0.3s ease;
}

/* Destaque em negrito */
.sobre-nos-paragrafo strong {
  color: #c92828; /* tom de marrom-terra para destacar */
  font-weight: 600;
}

/* Hover sutil nos parágrafos */
.sobre-nos-paragrafo:hover {
  color: #444;
  transform: translateX(2px);
}
