.page-inicio-style {
  background-color: #ffffff;
  color: #333333;
  padding: 150px;
  text-align: center;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.page-inicio-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.page-inicio-description {
  font-size: 20px;
  margin-bottom: 30px;
}
.page-button {
  background-color: #cc1212;
  color: #ffffff;
  padding: 12px 24px;
  border: none;
  border-radius: 40px;
  font-size: 18px;
  cursor: pointer;
  width: 200px;
}
.page-button:hover {
  background-color: #a10e0e;
}
a {
  text-decoration: none;
  color: inherit;
}
