.page-localizacao-style {
  padding: 100px;
  text-align: center;
  max-width: 900px;

  margin: 0 auto;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.page-localizacao-style h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: black;
}
.page-localizacao-style iframe {
  margin-top: 20px;
  border: 4px solid #cc1212;
  border-radius: 10px;
}
.page-localizacao-style p {
  font-size: 18px;
  margin-bottom: 12px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333333;
}

