.card-produto {
  background-color: #ffffff;
  border: 1px solid #f1eded;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 10px;
  width: 200px;
}
.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: black;
  margin: 5px 0;
}
.card-p {
  font-size: 16px;
  color: #555555;
  margin-bottom: 12px;
}
.section-card-containerr {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
}
.page-vantagens-style {
  padding: 100px;
  text-align: center;
}
