.page-sobre-style {
  padding: 100px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;
}
.page-sobre-style h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: black;
}
.page-sobre-style p {
  font-size: 18px;
  color: #555555;
  margin-bottom: 12px;
}
