.page-cardapio-style {
  padding: 100px;
  text-align: center;
  padding: 10px;
  max-width: 900px;
  margin: 0 auto;
  border-radius: 10px;

  background-color: #fee0de;
}
.cardapio-item {
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.cardapio-item p {
  font-size: 16px;
  color: #555555;
  margin-bottom: 12px;
}
.section-cardapio-container {
  padding: 10px;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fee0de;
  display: flex;
  flex-wrap: wrap;
}
.cardapio-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.cardapio-item {
  background-color: #ffffff;
  border: 1px solid #f1eded;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 20px;
}

.cardapio-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}
.card-1 {
  margin-bottom: 0px;
}
.cardapio-item1 {
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #f1eded;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 5px;
}
.cardapio-item1 p {
  font-size: 16px;
  color: #555555;
  margin-bottom: 12px;
}
