.page-inicio-style {
  background-color: #fee0de;
  color: #333333;
  padding: 150px;
  text-align: center;
  border: 4px solid #cc1212;
}
.page-inicio-title {
  font-size: 36px;
  margin-bottom: 20px;
}
.page-inicio-description {
  font-size: 20px;
  margin-bottom: 30px;
}
.page-button {
  background-color: #cc1212;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  cursor: pointer;
}
.page-button:hover {
  background-color: #a10e0e;
}
